* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.hero {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 80px; /* Відступ, щоб текст не перекривався з навбаром */
  background-color: #253237;
}
.container {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

/* Блок скроллу */
.scroll-images {
  width: 200px;
  height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #ddd;
  padding: 10px;
}

.scroll-images img {
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s;
}

.scroll-images img:hover {
  transform: scale(1.05);
}

/* Велике фото */
.main-image {
  width: 600px;
  height: 400px;
  object-fit: contain;
  background-color: white;
}

/* Таблиця */
.data-table {
  width: 300px;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.data-table th {
  background-color: #f4f4f4;
}

/* Адаптивність */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .scroll-images {
    width: 100%;
    height: auto;
    flex-direction: row;
    overflow-x: auto;
  }

  .main-image {
    width: 100%;
    max-width: 400px;
  }

  .data-table {
    width: 100%;
    max-width: 400px;
  }
}
