<link rel="stylesheet" href="../css/footer.css" />

<footer class="footer">
  <div class="footer-container">
    <div class="footer-nav">
      <a href="" class="footer-nav-a">CONTACT</a>
      <ul class="link">
        <li>
          <a href="tel:+48793791666"><p>+48 793 791 666</p></a>
        </li>
        <li>
          <a href="mailto:example@gmail.com"><p>example@gmail.com</p></a>
        </li>
      </ul>
      <p class="p-link">Green Str. 20, Krakow</p>
    </div>

    <div class="footer-nav">
      <a href="" class="footer-nav-a">PROJECTS</a>
      <ul class="link">
        <li><a href="../portfolio/portfolio.html">Portfolio</a></li>
        <li><a href="../gallery/gallery.html">Gallery</a></li>
      </ul>
      <p></p>
    </div>

    <div class="footer-nav">
      <a href="" class="footer-nav-a">INFORMATION</a>
      <ul class="link">
        <li><a href="../faq/faq.html">FAQ</a></li>
        <li><a href="../contacs/contacs.html">Contacts</a></li>
      </ul>
    </div>

    <div class="footer-nav">
      <a href="" class="footer-nav-a">SOCIALS</a>
    </div>
  </div>
</footer>
