<footer class="footer" id="footer">
  <div class="footer-container">
    <div class="footer-nav">
      <p class="footer-nav-a">CONTACT</p>
      <ul class="link">
        <li>
          <a href="tel:+48793791666" class="p-link">+48 793 791 666</a>
        </li>
        <li>
          <a href="mailto:info@panmodul.eu" class="p-link">info@panmodul.eu</a>
        </li>
      </ul>
      <p class="p-link">
        Świętego Józefa 7A, Magnice, 55-040 Kobierzyce, Poland
      </p>
    </div>

    <div class="footer-nav">
      <p class="footer-nav-a">PROJECTS</p>
      <ul class="link">
        <li>
          <a class="p-link" href="portfolio_en.html">Portfolio</a>
        </li>
        <li><a class="p-link" href="gallery_en.html">Gallery</a></li>
      </ul>
    </div>

    <div class="footer-nav">
      <p class="footer-nav-a">INFORMATION</p>
      <ul class="link">
        <li><a class="p-link" href="faq_en.html">FAQ</a></li>
      </ul>
    </div>

    <div class="footer-nav">
      <p class="footer-nav-a">SOCIAL MEDIA</p>
      <ul class="link">
        <li>
          <a class="p-link" href="https://www.instagram.com/panmodul.pl">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 43 43"
            >
              <title>Instagram</title>
              <g>
                <path
                  d="M41.5,28.5a1.558,1.558,0,0,1-.57-.11,1.527,1.527,0,0,1-.491-.33,1.5,1.5,0,0,1,0-2.121,1.566,1.566,0,0,1,.231-.189,2.153,2.153,0,0,1,.26-.141,2.423,2.423,0,0,1,.28-.079,1.5,1.5,0,1,1,.29,2.97Z"
                  fill="rgb(150, 150, 150)"
                />
                <path
                  d="M33.5,43H9.5A9.511,9.511,0,0,1,0,33.5V9.5A9.511,9.511,0,0,1,9.5,0h24A9.511,9.511,0,0,1,43,9.5V20.708a1.5,1.5,0,0,1-3,0V9.5A6.508,6.508,0,0,0,33.5,3H9.5A6.508,6.508,0,0,0,3,9.5v24A6.508,6.508,0,0,0,9.5,40h24A6.508,6.508,0,0,0,40,33.5a1.5,1.5,0,0,1,3,0A9.511,9.511,0,0,1,33.5,43Z"
                  fill="rgb(150, 150, 150)"
                />
                <path
                  d="M21.5,33A11.5,11.5,0,1,1,33,21.5,11.513,11.513,0,0,1,21.5,33Zm0-20A8.5,8.5,0,1,0,30,21.5,8.51,8.51,0,0,0,21.5,13Z"
                  fill="white"
                />
                <path
                  d="M34,12a2,2,0,1,1,2-2A2,2,0,0,1,34,12Zm0-3a1,1,0,1,0,1,1A1,1,0,0,0,34,9Z"
                  fill="white"
                />
              </g>
            </svg>
          </a>
          <a
            class="p-link"
            href="https://www.facebook.com/share/1CFnN5GPPJ/?mibextid=wwXIfr"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 43 43"
            >
              <title>Facebook</title>
              <g>
                <path
                  d="M37.5,43H5.5A5.507,5.507,0,0,1,0,37.5V5.5A5.507,5.507,0,0,1,5.5,0h32A5.507,5.507,0,0,1,43,5.5v32A5.507,5.507,0,0,1,37.5,43ZM5.5,3A2.5,2.5,0,0,0,3,5.5v32A2.5,2.5,0,0,0,5.5,40h32A2.5,2.5,0,0,0,40,37.5V5.5A2.5,2.5,0,0,0,37.5,3Z"
                  fill="rgb(150, 150, 150)"
                />
                <path
                  d="M23.5,37.439A1.5,1.5,0,0,1,22.439,37,1.474,1.474,0,0,1,22,35.939a1.371,1.371,0,0,1,.03-.29,2.793,2.793,0,0,1,.079-.29c.04-.089.091-.17.141-.259a2.1,2.1,0,0,1,.189-.22,1.507,1.507,0,0,1,1.351-.41.869.869,0,0,1,.279.08,2.225,2.225,0,0,1,.261.139,1.422,1.422,0,0,1,.23.191,2.113,2.113,0,0,1,.19.22c.05.089.1.17.14.259a2.565,2.565,0,0,1,.08.29,1.371,1.371,0,0,1,.03.29A1.517,1.517,0,0,1,24.56,37,1.5,1.5,0,0,1,23.5,37.439Z"
                  fill="rgb(150, 150, 150)"
                />
                <path
                  d="M23.5,31.844a1.5,1.5,0,0,1-1.5-1.5V19.5A9.511,9.511,0,0,1,31.5,10a1.5,1.5,0,0,1,0,3A6.508,6.508,0,0,0,25,19.5V30.344A1.5,1.5,0,0,1,23.5,31.844Z"
                  fill="white"
                />
                <path
                  d="M31.5,26h-12a1.5,1.5,0,0,1,0-3h12a1.5,1.5,0,0,1,0,3Z"
                  fill="white"
                />
              </g>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-nav">
      <p href="" class="footer-nav-a">LEGAL INFORMATION</p>
      <ul class="link">
        <li><p class="p-link">NIP:8961646084</p></li>
        <li><p class="p-link">REGON:540257471</p></li>
        <li><p class="p-link">KRS:0001140188</p></li>
      </ul>
    </div>
  </div>
</footer>
