<link rel="stylesheet" href="../css/footer.css" />

<footer class="footer">
  <div class="footer-container">
    <div class="footer-nav">
      <a href="" class="footer-nav-a">CONTACT</a>
      <ul class="link">
        <li><p>+380671234567</p></li>
        <li><p>example@gmail.com</p></li>
      </ul>
      <p class="p-link">Green Str. 20, Krakow</p>
    </div>

    <div class="footer-nav">
      <a href="" class="footer-nav-a">PROJECTS</a>
      <ul class="link">
        <li><a href="">Portfolio</a></li>
        <li><a href="">Gallery</a></li>
      </ul>
      <p></p>
    </div>

    <div class="footer-nav">
      <a href="" class="footer-nav-a">INFORMATION</a>
      <ul class="link">
        <li><a href="">FAQ</a></li>
        <li><a href="">Contacts</a></li>
      </ul>
    </div>

    <div class="footer-nav">
      <a href="" class="footer-nav-a">SOCIALS</a>
    </div>
  </div>
</footer>
