<link rel="stylesheet" href="../css/header.css" />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet"
/>
<header>
  <nav id="navbar" class="navbar">
    <!-- Логотип -->
    <a href="../index.html" class="logo">PANMODUL</a>

    <!-- Меню -->
    <ul class="nav-links">
      <li><a href="../portfolio/portfolio.html">PORTFOLIO</a></li>
      <li><a href="#projects">PROJECTS</a></li>
      <li><a href="../gallery/gallery.html">GALLERY</a></li>
      <li><a href="faq.html">FAQ</a></li>
      <li><a href="contacts.html">CONTACTS</a></li>
    </ul>
  </nav>
</header>
