a {
  text-decoration: none;
}
.footer-nav-a {
  font-size: 32px;
  font-weight: 500;
  line-height: 37.5px;
  margin-bottom: 55px;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: center;
  gap: 170px;
}
.footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-nav .p-link {
  all: unset;
  color: #bfbfbf;
  margin-top: 20px;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  cursor: pointer;
}
.footer-nav .p-link:hover {
  color: white;
}

.footer-nav .link {
  list-style: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin-top: 55px;
  margin-bottom: 0;
  padding-inline-start: 0;
}

.footer {
  background-color: #17191b;
  padding-top: 260px;
  padding-bottom: 260px;
}
