/* Стилізація навбару */
.navbar {
  position: fixed; /* Закріплюємо навбар */
  top: 0;
  left: 0;
  width: 100vw; /* Займає всю ширину екрану */
  height: auto;
  color: white;
  padding: 12px 30px 25px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1000; /* Щоб навбар був зверху */
  gap: 128px;
  background: rgba(0, 0, 0, 0); /* Повністю прозорий */
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out;
}

.menu-toggle {
  display: none;
}

nav.transparent {
  background: rgba(0, 0, 0, 0); /* Повністю прозорий */
}

a {
  cursor: pointer;
}

/* Кольоровий навбар після прокручування */

/* Логотип (зліва) */
.logo {
  color: white;
  font-weight: bold;
  margin-right: 20px; /* Відступ між логотипом і меню */
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-self: flex-end;
}
.logo svg {
  width: 32px;
  height: 32px;
}

.navbar .logo .cls-2 {
  fill: white;
}

.navbar .logo .cls-1 {
  fill: none;
  stroke: white;
  stroke-width: 3;
}

.logo p {
  margin: 0;
  font-family: 'Montserrat';
  font-size: 1.5em;
  line-height: 0.75;
  font-weight: 300;
  display: flex;
  align-items: end;
}

/* Меню (зліва відразу після логотипу) */
.nav-links {
  align-self: flex-end;
  list-style: none;
  display: flex;
  gap: 64px;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

/* Посилання в меню */
.nav-links .nav-option > a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: end;
  font-size: 18px;
  line-height: 0.75;
}

/* Стилі для випадаючого меню */
.dropdown {
  position: relative;
}

.dropdown-menu li {
  padding: 10px 15px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: block;
}
@media (min-width: 769px) {
  .dropdown-menu {
    position: absolute;
    top: 45px;
    left: -32px; /* Зміщення вліво на 32px */
    width: calc(100% + 64px); /* Розширення на 32px з кожного боку */
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    border-top: 1px solid white; /* Початковий стан верхньої границі */
    border-bottom: 1px solid white; /* Початковий стан нижньої границі */
    padding: 10px 0;
    list-style: none;
    display: block;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease-in-out, opacity 0.5s ease-out,
      border-top-width 0.5s ease-in-out, border-bottom-width 0.5s ease-out;
  }
  nav.scrolled {
    background: #202325; /* Чорний напівпрозорий */
  }
  .dropdown:hover .dropdown-menu {
    max-height: 200px; /* Або інша відповідна висота */
    opacity: 1;
    border-top-width: 1px; /* Плавне з'явлення верхньої границі */
    border-bottom-width: 1px; /* Плавне з'явлення нижньої границі */
  }
}
@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -150%;
    width: 100vw;
    height: 100vh;
    background: #17191b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 10vh;
    opacity: 0;
    transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
    gap: 0;
  }

  .nav-links.open {
    right: 0;
    opacity: 1;
  }

  .nav-option {
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .menu-toggle {
    all: unset;
    display: block;
    position: absolute;
    outline: none !important;
    border: none;

    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    background: none !important;
    border: none !important;
    color: white !important;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1001;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
  }
  .menu-toggle:focus,
  .menu-toggle:active {
    outline: none !important;
    box-shadow: none !important; /* Прибирає підсвітку при кліку */
  }

  .menu-toggle::-moz-focus-inner {
    border: 0 !important; /* Для Firefox на Android */
  }
  .logo {
    color: white;
    font-weight: bold;
    margin-right: 20px; /* Відступ між логотипом і меню */
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-self: flex-end;
    align-self: center;
    outline: none;
    box-shadow: none;
    border: none;
  }
  .logo:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }
  .navbar {
    height: 70px;
    padding: 12px 30px 12px 30px;
  }
  .logo svg {
    height: auto;
  }
  .logo p {
    margin: 0;
    font-family: 'Montserrat';
    font-size: 1.5em;
    line-height: 0.75;
    font-weight: 300;
    display: flex;
    align-items: end;
  }
  .nav-links .nav-option > a {
    font-size: 20px;
    font-weight: 200;
    padding: 7vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .dropdown {
    height: fit-content;
  }
  .dropdown-menu {
    all: unset;
    width: 100%;
    position: relative;
    background: #17191b;
    border-top: 1px solid transparent; /* Початковий стан */
    border-bottom: 1px solid transparent; /* Початковий стан */
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Анімація відкриття */
    opacity: 0;
    font-size: 20px;
    font-weight: 200;
    transform-origin: top;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out, opacity 0.4s ease-out,
      border-top 0.4s ease-out, border-bottom 0.4s ease-out;
  }
  .dropdown-menu li {
    padding: 1.3vh;
  }
  .dropdown-menu.open {
    border-top: 1px solid rgb(100, 100, 100);
    border-bottom: 1px solid rgb(100, 100, 100);
    max-height: 200px;
    opacity: 1;
  }
}
