body {
  margin: 0;
  background: #17191b;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
* {
  -webkit-tap-highlight-color: transparent;
}
ul,
p,
div,
a,
h3,
li,
ul,
img {
  margin: 0;
  padding: 0;
}

.section-hero {
  height: 950px; /* Висота блоку на всю висоту екрана */
  background-image: url('../img/media_d/Modern-Minimalist-Exterior-2014 (1).png'); /* Заміни на своє зображення */
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 80px; /* Відступ, щоб текст не перекривався з навбаром */
}

.hero-container {
  height: 100vh;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-logo {
  width: 800px; /* можете налаштувати розміри */
  height: auto;
  animation: logoAnimation 3s ease-out forwards;
}

@keyframes logoAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.hero-logo svg .cls-1 {
  stroke: white;
  fill: none;
  stroke-width: 2px;
  stroke-miterlimit: 10;
  stroke-dasharray: 1000; /* довжина лінії для ефекту малювання */
  stroke-dashoffset: 1000; /* на початку лінія прихована */
  animation: drawLine 16s ease forwards;
}

.hero-logo svg rect.cls-1 {
  animation: drawLine 22s ease forwards;
}

.hero-logo svg .cls-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  fill: white;
  opacity: 0;
  animation: fadeInText 2s ease 1s forwards; /* Затримка на 1 сек. для тексту */
}

.hero-logo svg .cls-2 tspan {
  display: inline-block;
}
.hero-logo svg .cls-3 {
  fill: white;
}

@keyframes drawLine {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hero-h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 128px;
  font-weight: 700;
  line-height: 150px;
  padding: 0;
  margin: 0;
}

.hero-h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 75px;
  padding: 0;
  margin: 0;
}

.section-two {
  padding-top: 100.5px;
  padding-bottom: 100.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: normal;
}

.section-two p {
  color: white;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
}

.section-two h3 {
  color: white;
  font-weight: 500;
  font-size: 40px;
  line-height: 46px;
}

.section-two ul {
  color: white;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;

  list-style: inside;
  margin-left: 9.33px;
}

.houses-container {
  display: flex;
  height: 436px;
  width: 1216px;
  gap: 25px;
}
.img-container {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  background-color: white;
}

.houses-container img {
  object-fit: contain;
  background-color: white;
}

.houses-container button {
  position: relative;
  height: 78px;
  width: 627px;
  border: 0.5px solid rgb(100, 100, 100);
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  background: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease-out, border 0.2s ease-out;
  position: relative; /* Щоб не взаємодіяли з indicator */
  z-index: 3;
  font-size: 20px;
  font-weight: 300;
}
.houses-container button:hover {
  background-color: black;
  border: 0.5px solid #000000;
}
.houses-container button svg {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%); /* Центрування по вертикалі */
}

.section-container .link {
  padding: 0;
  margin: 0;
}

.houses-container .link {
  width: auto;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.houses-container .link ul {
  padding-bottom: 20px;
}

.houses-container .link h3 {
  padding-bottom: 28.5px;
}

.houses-container:first-child {
  padding-bottom: 100px;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 769px) {
  .image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Три колонки */
    grid-template-rows: repeat(2, auto); /* Два рядки */
    gap: 10px; /* Відступ між великою картинкою і сіткою */
    align-items: start;
  }
  .image-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    height: 100%;
  }
  .scroll-btn {
    display: none;
  }
  .large-image {
    height: 100%;
    grid-row: 1 / -1;
  }
  .large-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  .image-wrapper::before {
    content: attr(data-text);
    position: absolute;
    bottom: 20px;
    left: -100%; /* Починає поза межами зліва */
    transform: translateY(-50%);
    background-color: rgba(231, 225, 208);
    color: black;
    padding: 5px 10px;
    font-weight: 200;
    font-size: 20px;
    white-space: nowrap;
    transition: left 0.5s ease;
  }
  .image-wrapper:hover::before {
    left: 10px; /* Виїжджає зліва */
  }
  h4 {
    display: none;
  }
  .cards:hover {
    background-color: #202325;
  }

  .cards:hover .cards-header h3 {
    color: white;
  }

  .cards:hover .cards-info-cont p {
    color: #bfbfbf;
  }

  .cards:hover .cards-header svg {
    fill: white;
  }
}

.section-two {
  background-color: #17191b;
}

.section-three {
  padding-bottom: 100px;
  padding-top: 100px;
  width: 100%;
  background-color: #607a88;
}

.sec-3-butt-cont {
  margin-top: 100px;
  display: flex;
  justify-self: center;
}

.sec-3-butt {
  width: 317px;
  height: 100px;

  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
  font-family: 'Roboto', sans-serif;

  border: 0.5px solid #fff;
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  background: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease-out, border 0.2s ease-out;
  position: relative; /* Щоб не взаємодіяли з indicator */
  z-index: 3;
  font-size: 20px;
  font-weight: 300;
}

.sec-3-butt:hover {
  background-color: black;
  border: 0.5px solid #000000;
}

.section-4-tittle {
  justify-self: center;
  font-size: 96px;
  font-family: 'Montserrat';
  font-weight: 200;
  line-height: 112px;
  color: white;
  margin: 0;
  margin-top: 154px;
  margin-bottom: 154px;
}

.section-four {
  padding-bottom: 154px;
  background-image: url(..\img\backgrounds\backgrounds_ornament.png);
  background-size: cover;
}

.cards-container {
  justify-content: center;
  display: flex;
  gap: 15px;
  flex-wrap: wrap; /* Дозволяє карткам переноситись на новий рядок */
}

.cards {
  width: 355px;
  background-color: #a6cfd4;
  box-shadow: 0px 6px 10px rgb(0 0 0 / 25%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Вирівнюємо контент по верхньому краю */
  align-items: center;
  padding: 40px 0px;
  cursor: pointer;

  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.cards-info-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.slider-btn {
  display: none;
}
.cards-header {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Вирівнюємо картинку і h3 по вертикалі */
  gap: 32px; /* Між картинкою і заголовком */
}

.cards h3 {
  color: black;
  font-weight: 600;
  font-size: 32px;
  margin: 0; /* Прибираємо верхній і нижній відступ */
}

.cards p {
  color: #3a3a3a;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  padding: 0px 40px;
}

@media (max-width: 768px) {
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  .section-hero {
    padding-top: 70px;
    height: 40vh;
    align-self: center;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }
  .hero-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero-logo {
    width: 60%; /* можете налаштувати розміри */
    height: auto;
    animation: logoAnimation 3s ease-out forwards;
  }
  .section-two {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10vw;
    box-sizing: border-box;
  }

  .child1 {
    order: 2;
  }

  .child2 {
    order: 1;
  }

  .child3 {
    order: 3;
  }
  .houses-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    gap: 25px;
  }
  .houses-container .link {
    width: auto;
  }
  .houses-container .button {
    width: 100%;
  }
  .houses-container .button svg {
    height: 40%;
  }
  .houses-container .img-container {
    width: auto;
  }
  .houses-container .img-container img {
    width: 100%;
  }

  .link p {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .link ul {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .houses-container .link h3 {
    padding-bottom: 28.5px;
    font-size: 28px;
    text-align: center;
  }

  .section-three {
    height: fit-content;
    width: 100vw;
  }
  .image-grid {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth; /* Зменшує різкість прокрутки */
    scrollbar-width: thin; /* Для Firefox */
    gap: 2px;
    padding: 0;
    white-space: nowrap;
  }

  .image-wrapper {
    flex: 0 0 90vw; /* Ширина фото */
    height: 30vh;
    scroll-snap-align: center;
    transition: transform 0.3s ease;
    padding: 40px;
    padding-bottom: 70px;
    align-self: center;
    width: 100vw;
  }

  .image-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  /* Затемнення неактивних фото */
  .image-wrapper:not(.active) {
    transform: scale(0.9);
    opacity: 0.3;
  }
  .large-image img {
    height: 100%;
    object-fit: cover;
  }
  .image-grid-wrapper {
    position: relative; /* Батьківський контейнер для абсолютного позиціонування кнопок */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .image-grid {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer та Edge */
  }
  .image-grid::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    padding: 0;
    box-sizing: border-box;
    width: 10vw;
    cursor: pointer;
    z-index: 10;
    font-size: 24px;
    transition: background 0.3s ease;
    height: 30vh;
    display: inline-block;
  }
  /* .scroll-btn:active {
    background-color: rgba(0, 0, 0, 0.205);
  } */
  .scroll-btn {
    -webkit-tap-highlight-color: transparent;
  }
  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
  .section-three {
    padding: 0;
  }
  .sec-3-butt {
    margin: 0 0 5vh 0;
  }
  .sec-3-butt-cont {
    margin: 0;
  }
  h4 {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 200;
    height: auto;
    padding: auto;
  }
  .section-four {
    padding: 0;
    background-image: url(..\img\backgrounds\backgrounds_ornament.png);
    background-size: cover;
  }

  .section-4-tittle {
    width: 100vw;
    justify-self: center;
    font-size: 48px;
    font-family: 'Montserrat';
    font-weight: 200;
    line-height: normal;
    color: white;
    margin: 40px 0;
    text-align: center;
  }
  .cards {
    width: 80vw;
    background-color: #a6cfd4;
    box-shadow: 0px 6px 10px rgb(0 0 0 / 25%);
    padding: 20px 0px;
    cursor: pointer;

    transition: transform 0.3s ease, box-shadow 0.3s ease,
      background-color 0.3s ease;
  }
  .cards-header {
    padding: 0;
    gap: 10px;
  }
  .cards p {
    padding: 0 15px;
    margin-top: 10px;
  }
  .cards svg {
    width: 48px;
    height: 48px;
  }
  .cards-container {
    padding-bottom: 30px;
  }
  .cards-container {
    -webkit-tap-highlight-color: transparent;
  }
}
